.footer__text {
    width: 318px;
    height: 18px;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
    padding-left: 4px;
}
@media screen and (min-width: 320px) and (max-width:425px) {
    .footer__text {
        width: 282px;
        height: 14px;
        font-size: 14px;
        line-height: 17px;
    }
    
}