.profile__info {
    padding-top: 22px;
    padding-left: 30px;
    max-width: 336px;
}
@media screen and (min-width:320px) and (max-width:580px) {
    .profile__info {
        padding-top: 27px;
        padding-left: 24px;
        max-width: 282px;
    }
}